<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
	<property scope="system" name="APP_NAME" value="lms-workbench" />
	<property scope="system" name="APP_VERSION" value="1.0.0" />
	<property scope="system" name="APP_NAME_PERF" value="perf" />
	<property scope="system" name="LOG_DIR" value="/data/logs/app/lms-workbench/" />

	<appender name="ROLLING"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>info</level>
		</filter>

		<file>${LOG_DIR}/${APP_NAME}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_DIR}/${APP_NAME}-%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>200MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

		<encoder>
			<pattern>%-20(%d{yyy-MM-dd HH:mm:ss.SSS} [%X{requestId}]) %-5level -%logger{80} - %msg%n</pattern>
		</encoder>
	</appender>


	<!--针对执行请求的日志适配器-->
	<appender name="PERF"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- 定义此适配器的日志级别 -->
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<!-- 定义日志打印文件路径 -->
		<file>${LOG_DIR}/${APP_NAME_PERF}.log</file>
		<!-- 按天切割 -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>${LOG_DIR}/${APP_NAME_PERF}-%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- keep 2 days' worth of history -->
			<maxHistory>2</maxHistory>
		</rollingPolicy>
		<!-- 定义日志打印格式 -->
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%-20(%d{yyy-MM-dd HH:mm:ss.SSS} [%thread] [%X{requestId}]) %-5level -%logger{80} - %msg%n</pattern>
		</encoder>
	</appender>


	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<encoder>
			<pattern>%-20(%d{yyy-MM-dd HH:mm:ss.SSS} [%X{requestId}]) %-5level -%logger{80} - %msg%n</pattern>
		</encoder>
	</appender>
	<logger name="com.alibaba.dubbo" level="DEBUG">
		<!--<appender-ref ref="ROLLING"/>-->
		<appender-ref ref="CONSOLE"/>
	</logger>

	<!--定义针对PERF适配器的logger，其中additivity为false，则不向上级传递日志级别-->
	<logger name="com.touna.perf" level="INFO" additivity="false">
		<appender-ref ref="PERF" />
		<appender-ref ref="CONSOLE" />

	</logger>

	<logger name="com.touna.loan" level="DEBUG" />

	<logger name="com.ibatis" level="DEBUG" />
	<logger name="com.ibatis.common.jdbc.SimpleDataSource" level="DEBUG" />
	<logger name="com.ibatis.common.jdbc.ScriptRunner" level="DEBUG" />
	<logger name="org.mybatis.generator" level="DEBUG" />
	<logger name="com.ibatis.sqlmap.engine.impl.SqlMapClientDelegate" level="DEBUG" />
	<logger name="java.sql.Connection" level="DEBUG" />
	<logger name="java.sql.Statement" level="DEBUG" />
	<logger name="java.sql.PreparedStatement" level="DEBUG" />
	<logger name="org.springframework" level="DEBUG" />
	<root level="DEBUG">
		<!--<appender-ref ref="ROLLING" />-->
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>